@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "download.scss";
@import "features.scss";
@import "cta.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";

section.contact ul.list-social li.git-github a{
  background-color: #24292e;
}
section.contact ul.list-social li.git-github a:hover{
  background-color: #16191c;
}

section.contact ul.list-social li.git-gitlab a{
  background-color: #E2432A;
}
section.contact ul.list-social li.git-gitlab a:hover{
  background-color: #cf3e27;
}


.contrast{
  color: whitesmoke;
}

.contrastnavbar{
  color: #ff8c00;
}

.ptop {
  padding-top: 20px;
}

.pbtm {
  padding-bottom: 20px;
}

.impressumfont {
  font-size: 15px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow: auto;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
